$background: #23272e;
$background-dark: #1d1f21;
$background-light: #3a3d41;
$greytext: #a0a1a7;
$greytext-light: #878d94;
$greytext-dark: #6b6f73;
$greytext-darker: #4e5055;
$greytext-darkest: #2b2d32;
$greytext-lightest: #9ea1a8;
$greytext-lighter: #c7cbd1;
